#This is a template .env file that we can add to as we start using environment variables. 
#Populate the keys from this file in your local .env file
#You should NOT commit your .env file or put the actual key values into any comitted code
#To access variables in your .env file, you can reference them using 'process.env.KEY'

NEXT_PUBLIC_AWS_ACCESS_KEY_ID="aws access key"
NEXT_PUBLIC_AWS_SECRET_ACCESS_KEY="your secret key"
