
.bar-container {
  display: inline-block;
  cursor: pointer;
  margin-top: 25px;
  margin-left: 35px;
  padding-right: 30px;
}

.bar1, .bar3 {
  width: 25px;
  height: 4px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
  border-radius: 12px;
}
.bar2 {
  width: 12.5px;
  height: 4px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
  border-radius: 12px;
}

.container {
  display: flex;
  height: 100vh;
}

.profile-container {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20%;
  align-items: first baseline;
  margin-left: -91%;
}

.form.nosubmit {
  border: none;
  padding: 0;
 }
 
 input.nosubmit {
   border: 1px solid #555;
   border-radius: 10px;
   width: 150%;
   padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
 }


.logo img {
  max-width: 100%;
  height: auto;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 300px;
}

.profile-form input[type="text"],
.profile-form input[type="email"],
.profile-form input[type="tel"],
.profile-form select {
  width: 200%;
}  

.title {
  font-size: 30px;
  margin-bottom: 15px;
}

.subtitle {
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: normal;
}

.profile-form label {
  display: block;
  font-weight: bold;
  font-size: 13px;
}

.profile-form input[type="text"],
.profile-form input[type="email"],
.profile-form input[type="tel"],
.profile-form select {
  width: 250%;
  padding: 8px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.done-button {
  background-color: 	#705dea;
  color: #fff;
  width: 300px;
  padding: 10px 20px;
  border-color: #e7e7e7;
}

.cancel-button {
  background-color: #ffffff;
  color: #d31313;
  padding: 10px 20px;
  margin-left: 10px;
  border-color: #d3d1d1;
}

.top {
  display: table-row;
  height: 20%;
}

.bottom {
  display: table-row;
  height: 80%;
}

.profile-icon-container {
  position: absolute;
  top: 10px; 
  right: 90%;
  width: 100px;
  height: 100px;
  margin-right: -90%;
}

.profile-icon {
  position: relative;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #EEF2FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #6366F1;
}

.status-indicator {
  position: absolute;
  bottom: 1px; 
  right: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(74, 220, 74);
}